[bumpversion]
current_version = 0.5.2
commit = True
tag = True
allow_dirty = True
sign_tags = True

[bumpversion:file:sb_json_tools/cli.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

